{% extends "base.html" %}
{% block content %}

<h3>TestResult Detail</h3>

<p><strong>Patient:</strong> {{ result.patienttest.patient }}</p>
<p><strong>Test:</strong> {{ result.patienttest.test }}</p>
<p><strong>Result:</strong> {{ result.result_valu }} {{ result.unit }}</p>
<p><strong>Reference Range:</strong> {{ result.reference_range }}</p>

<p><strong>Status:</strong>
    {% if result.status == 'pending' %}
    <span class="badge bg-warning">Pending</span>
    {% elif result.status == 'completed' %}
    <span class="badge bg-success">Completed</span>
    {% elif result.status == 'approved' %}
    <span class="badge bg-primary">Approved</span>
    {% endif %}
</p>

<hr>
<p><strong>WBC:</strong> {{ result.wbc }}</p>
<p><strong>RBC:</strong> {{ result.rbc }}</p>
<p><strong>Hemoglobin:</strong> {{ result.hemoglobin }}</p>
<p><strong>Hematocrit:</strong> {{ result.hematocrit }}</p>
<p><strong>Platelets:</strong> {{ result.platelets }}</p>
<hr>

{% if result.status == 'pending' %}
<a class="btn btn-warning" href="{% url 'core:testresult_complete' result.pk %}">Mark as Completed</a>
{% endif %}

{% if result.status == 'completed' and perms.core.approve_testresult %}
<a href="{% url 'core:testresult_approve' result.pk %}" class="btn btn-success">Approve Result</a>
{% endif %}

{% if perms.core.change_testresult and result.status != 'approved' %}
<a href="{% url 'core:testresult_update' result.pk %}" class="btn btn-primary">Edit</a>
{% endif %}

<a href="{% url 'core:testresult_print' result.id %}" target="_blank" class="btn btn-secondary">🖨 Print</a>

{% endblock %}